@charset "utf-8";
/* CSS Document */

/* BASE STYLING */

.hidden {
    display: none;
}

body {
    font-family: "Poppins", sans-serif;
    color: #363636;
    max-width: 412px;
    /* overflow-x: hidden; */
}

@font-face {
    font-family: 'Stopbuck';
    src: url('fonts/stopbuck.otf') format('opentype'),
         url('fonts/stopbuck.ttf') format('truetype');
}

button {
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
}


/* HOMEPAGE STYLING */

/* Navigation Section */

#logo img {
    width: 200px;
    margin: 20px 20px 0 0;
}

#nav-con {
    background-color: #651799;
    height: 100px;
    position: relative;
    
}
 
 #main-nav input, #burger-con {
    display: none;
    /* position: absolute; */
 }


 #main-nav label img {
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: all .3s ease;
    position: absolute;
    top: 20px; /* Adjust this value to position vertically */
    right: 20px; /* Adjust this value to position horizontally */
}

 
 /*   ~ sibling selector   */
 

 #main-nav input:checked ~ #burger-con {
    display: block;
    /* position: absolute; */
    z-index: 9999;
    /* margin-left: -15px; */
 }
 
 #main-nav input:checked ~ label img {
    transform: rotate(90deg);
 }


 #main-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #941ED6;
    width: 100%;
    margin-top: 22px;

 }
 
 #main-nav ul li a {
    display: block;
    padding: 7px 0 10px 20px;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    margin-top: 7px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
 }

 #main-nav ul li:last-child {
    padding-bottom: 20px;
 } 

 #main-nav ul li:first-child {
    padding-top: 15px;

 } 


/* Hero Banner Section */

.hero-home {
    background-color: #6D0F9B;
    background-image: url('../images/home_header_412.png');
    background-size: cover;
    height: 529px;
}

/* Features Section */

#features {
    height: 505px;
    margin-top: 45px;
    text-align: center;
    place-items: center;
}

#features div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.feature_icon {
    width: 105px;
}

#features h3 {
    font-family: "Stopbuck", sans-serif;
    font-size: 32px;
    letter-spacing: 1px;
    max-width: 180px;
    margin-top: 25px;
    margin-bottom: 1px;
}

#features p {
    font-size: 17px;
    font-weight: 800;
}
/* What's Quatro Section */

#about-quatro {
    height: 613px;
}

#about-quatro h3 {
    font-family: "Stopbuck", sans-serif;
    font-size: 45px;
    letter-spacing: 2px;
    color: #721AAE;
}

#about-quatro p {
    font-weight: 600;
    font-size: 17px;
    line-height: 27px;
}

/* Products Home Section */

#product-title {
    background-image: url('../images/drinks_bg_412.png');
    background-color: #329B13;
    background-size: cover;
    height: 81px;

    display: flex;
    justify-content: center;
    text-align: center;
    color: white;
}

#product-title h3 {
    font-size: 28px;
    text-transform: uppercase;
}

#product-title p {
    font-size: 16px;
}

#products {
    height: 300px;
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

#products img {
    width: 150px;
    height: 150px;
}

.desc-cards {
    font-weight: 700;
}

/* Quatro's History Section */

#quatro-history {
    height: 625px;
}

#quatro-history h3 {
    font-family: "Stopbuck", sans-serif;
    font-size: 37px;
    letter-spacing: 2px;
    color: #277C10;
}

#quatro-history p {
    font-weight: 600;
    font-size: 17px;
    line-height: 27px;
}

/* Quote Section */

#quote {
    background-image: url('../images/quote_bg_412.png');
    background-color: #F26200;
    background-size: cover;
    height: 437px;

    display: flex;
    color: white;
}

#quote h3 {
    font-weight: 800;
    font-size: 40px;
    text-transform: uppercase;
    line-height: 48px;
    margin-left: 15px;
    margin-top: 110px;
}

#quote p {
    font-weight: 700;
    font-size: 22px;
    margin-left: 15px;
    margin-top: -10px;
    margin-bottom: 500px;
}

/* Gallery Section */

#follow-us-text {
    background-color: #CC173A;
    text-align: center;
    font-size: 24px;
    border-radius: 15px;
    width: 319px;
    height: 44px;
}

#follow-us-text h3 {
    text-transform: uppercase;
    color: white;
}

#gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

#gallery img {
    height: 272px;
}

/* CEO Message Section */

#ceo-message-con {
    height: 827px;
}

#ceo-message h3 {
    font-family: "Stopbuck", sans-serif;
    font-size: 37px;
    letter-spacing: 2px;
    color: #721AAE;
  }

#ceo-message p {
    font-weight: 700;
    line-height: 30px;
  }

#ceo-message h4 {
    font-weight: 800;
    font-size: 21px;
    color:#941ED6;
}

#president-text {
    color:#363636;
}

#video {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: purple;
    width: 325px;
    height: 185px;
  }

/* Customer Reviews Section */

#reviews-con {
    background-image: url('../images/review_bg_412.png');
    background-color: #CC173A;
    background-size: cover;
    height: 363px;
    /* overflow-x: auto; */
    /* white-space: nowrap; */
}

#reviews-title h3 {
    font-size: 32px;
    font-weight: 800;
    text-transform: uppercase;
    color: white;
    text-align: center;
    display: flex;
}

#reviews-title p {
    font-weight: 700;
    color: white;
    font-size: 18px;
}

#reviews div {
    background-color: white;
    border-radius: 15px;
    width: 163px;
    height: 226px;
    margin-top: 15px;
}

#reviews p {
    font-weight: 560;
    font-size: 12px;
    line-height: 21px;
    margin-top: 25px;
}

#reviews img {
    width: 94px;
    height: 17px;
    margin-top: 10px;
}

#reviews h3 {
    font-family: "Stopbuck", sans-serif;
    letter-spacing: 1px;
    font-size: 20px;
    margin-top: 5px;
}

#review-1, #review-5 {
    display: none;
}

#reviews div * {
    margin-left: 15px;
}

/* Merch Section */

#merch-con {
    height: 852px;
} 

.merch {
    width: 150px;
}

#merch-button {
    background-color: rgb(255, 123, 0);
    text-align: center;
    border-radius: 15px;
}

.merch img {
    width: 150px;
    height: 150px;
}

/* Available Stores Section */

#available-con {
    text-align: center;
    height: 354px;
  }

#available-title {
    font-family: "Stopbuck", sans-serif;
    font-size: 37px;
    letter-spacing: 2px;
    color: #721AAE;
}

#store_logos {
    width: 193px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#store_logos img {
    margin-top: 20px;
}

/* Newsletter Section */

#newsletter-con {
    background-image: url('../images/news_bg_412.png');
    background-color: #0E9B22;
    background-size: cover;
    height: 437px;

    display: flex;
    justify-content: center;
    text-align: center;
}

#newsletter-con form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Footer Section */

#footer-con {
    background-color: #651799;
}

#logo-footer, #logo-socmed, #footer-menu, #footer-service {
    padding: 20px;
}

#logo-socmed img {
    width: 30px;
}

#logo-footer img {
    width: 230px;
    margin-top: 30px;
}

#footer-credits {
    text-align: center;
    color: #ffffff;
}


#footer-info {
    display: grid;
    justify-content: center;
    align-items: center;
}

#logo-footer,
#logo-socmed {
    justify-self: center;
}

#footer-nav,
#footer-service {
    display: flex;
    justify-content: center; /* Center the nav horizontally */
}

#footer-nav ul,
#footer-service ul {
    list-style: none;
    padding: 0;
    text-align: left; /* Align the text left */
}

#footer-nav li,
#footer-service li {
    margin-bottom: 10px; /* Add some bottom margin for spacing */
}

#footer-nav a,
#footer-service a {
    text-decoration: none;
    color: #ffffff;
}

@media screen and (min-width: 768px) {
    #footer-nav {
        margin-top: 40px;
        column-count: 2;
     }
}

/* PRODUCT PAGE */

.product-style{
    height: 680px;
    padding-top: 100px;
}

#product-grape {
    background-color: rgb(114, 29, 195);
    height: 950px;
    display: flex;
}

#product-strawberry {
    background-color: #CC173A;
    height: 950px;
    display: flex;
}

#product-apple {
    background-color: #329B13;
    height: 950px;
    display: flex;
}

#product-orange {
    background-color:#F26200;
    height: 950px;
    display: flex;
}


/* CONTACT PAGE */

#logo-contact img {
    width: 300px;
}

#subtitle-contact {
    text-align: center;
}

#product-strawberry-apple img {
    width: 200px;
}

#product-grape-orange img {
    width: 200px;
}

#hero-banner-contact {
    background-color: rgb(106, 29, 179);
    height: 470px;
    display: flex;
    justify-content: center;
}

#contact-form-con {
    background-color: beige; /* Adjust background color as needed */
    /* height: 200px;  */
    display: flex;
    justify-content: center;
    text-align: center;
}

#contact-form-con input, textarea {
    padding: 22px;
    border: 2px solid #d6d6d6;
    background-color: #f7f7f7;
    border-radius: 5px;
    margin-bottom: 30px;
    font: inherit;
    width: 60%;
 }
 
#contact-form-con textarea {
    height: 250px;
 }
 
#contact-form-con input[type="submit"] {
    padding: 12px 28px;
    background: #721AAE;
    color: #fff;
    border: none;
    transition: all 200ms ease-in;
    width: 150px;
    align-self: flex-end;
 }
 
#contact-hero-form input[type="submit"]:hover {
    background-color: #A44CE1;
    border-radius: 0;
 }

.input-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input-group input {
    flex: 1;
    margin-right: 10px; /* Adjust spacing between inputs */
}


/* JAVASCRIPT LIGHTBOX TEST */

#blueberry, #peachy, #apple, #scarlet {
    position: relative;
    margin-left: 50px;
}

.lightbox.active {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lightbox.active .lightbox-content {
    background-color: white; /* Adjust as needed */
    padding: 20px;
    border-radius: 10px;
    color: rgb(0, 0, 0);
    width: 500px;
    height: 200px;
    text-align: center;
}

.lightbox.active .lightbox-close {
    position: absolute;
    top: 200px;
    right: 280px;
    /* top: 250px;
    right: 580px;  */
    /* Adjust the right value to move the close button closer to the lightbox text */
    color: white;
    font-size: 3em;
    cursor: pointer;
}

.lightbox.active h2, .lightbox.active p {
    text-align: center;
}

/* REWARD POP-OVER */

.open-reward {
    z-index: 999;
    position: fixed;
    filter: drop-shadow(rgba(0, 0, 0, 0.15) 0px 0px 30px);
    bottom: 0;
    left: 0px;
    margin: 0px 20px;
    width: 154px;
    cursor: pointer;
    font-size: 20px;
    background-color: orange;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    color: #363636;
}