@charset "utf-8";
/* CSS Document */

/* BASE STYLING */

.hidden {
    display: none;
}

body {
    font-family: "Poppins", sans-serif;
    color: #363636;
    max-width: 412px;
    min-width: 412px;
}

@font-face {
    font-family: 'Stopbuck';
    src: url('fonts/stopbuck.otf') format('opentype'),
         url('fonts/stopbuck.ttf') format('truetype');
}

button {
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
}


/* JAVASCRIPT LIGHTBOX */

.lightbox.active {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lightbox.active .lightbox-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    color: white;
    width: 500px;
    height: 200px;
    text-align: center;
}

.lightbox.active .lightbox-close {
    position: absolute;
    top: 200px;
    right: 280px;
    color: white;
    font-size: 3em;
    cursor: pointer;
}

.lightbox.active h2 {
    text-align: center;
    
}

.lightbox.active p {
    color: #C376FF;
    text-align: center;
}

/* PRODUCT INFO LIGHTBOX */
.lightbox-product {
    background-color: rgba(0, 0, 0, 0.5);
}

/* REWARD CLAIM LIGHTBOX*/
.lightbox-reward {
    background-color: rgba(255, 255, 255, 0.8);
}

.lightbox.active .lightbox-content {
    position: relative; /* Make the lightbox content relative */
    background-color: #651799;
      
}

.lightbox.active .lightbox-close {
    position: absolute; /* Remove absolute positioning */
    top: 10px; /* Adjust top position as needed */
    right: 10px; /* Adjust right position as needed */
    color: white; /* Change color to make it visible */
    font-size: 2em; /* Adjust font size as needed */
    cursor: pointer;
    z-index: 1; /* Ensure it appears above the lightbox content */
}



/* REWARD POP-OVER */

.open-reward {
    z-index: 999;
    position: fixed;
    filter: drop-shadow(rgba(0, 0, 0, 0.15) 0px 0px 30px);
    bottom: 0;
    left: 0px;
    margin: 0px 20px;
    width: 154px;
    cursor: pointer;
    font-size: 20px;
    background-color: orange;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    color: #363636;
}


/* HOMEPAGE STYLING */

/* Navigation Section */

#logo img {
    width: 200px;
    margin: 20px 20px 0 0;
}

#nav-con {
    background-color: #651799;
    height: 100px;
    position: relative;
}
 
 #main-nav input, #burger-con {
    display: none;
 }

 #main-nav label img {
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: all .3s ease;
    position: absolute;
    top: 20px;
    right: 20px;
}

 
/* BURGER MENU SIBLING SELECTOR */

 #main-nav input:checked ~ #burger-con {
    display: block;
    z-index: 999;
 }
 
 #main-nav input:checked ~ label img {
    transform: rotate(90deg);
 }

 #main-nav ul {
    list-style: none;
    background-color: #941ED6;
    margin-top: 22px;
    padding: 0;
 }
 
 #main-nav ul li a {
    display: block;
    padding-top: 7px;
    padding-bottom: 10px;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    margin-top: 7px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
 }

 #main-nav ul li:first-child {
    padding-top: 15px;
 } 

 #main-nav ul li:last-child {
    padding-bottom: 20px;
 } 


/* Hero Banner Section */

.hero-home {
    background-color: #6D0F9B;
    background-image: url('../images/home_header_412.png');
    background-size: cover;
    height: 529px;
    cursor: pointer;
}

/* Features Section */

#features {
    height: 505px;
    margin-top: 45px;
    text-align: center;
    place-items: center;
}

#features div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.feature_icon {
    max-width: 105px;
    margin-bottom: 8px;
}

#features h3 {
    font-family: "Stopbuck", sans-serif;
    font-size: 30px;
    letter-spacing: 1px;
    max-width: 180px;
    margin-top: 25px;
    margin-bottom: 1px;
}

#features p {
    font-size: 17px;
    font-weight: 800;
}
/* What's Quatro Section */

#about-quatro {
    height: 613px;
}

#about-quatro h3 {
    font-family: "Stopbuck", sans-serif;
    font-size: 45px;
    letter-spacing: 2px;
    color: #721AAE;
}

#about-quatro p {
    font-weight: 600;
    font-size: 17px;
    line-height: 27px;
}

/* Products Home Section */

#product-title {
    background-image: url('../images/drinks_bg_412.png');
    background-color: #329B13;
    background-size: cover;
    height: 81px;
    margin-top: 80px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
    color: white;
}

#product-title h3 {
    font-size: 28px;
    text-transform: uppercase;
    margin-top: 10px;
}

#product-title p {
    font-size: 16px;
    font-weight: 600;
    margin-top: -35px;
}

.product p {
    font-size: 15px;
    font-weight: 800;
    line-height: 20px;
}


#products {
    padding-top: 30px;
}

#products img:first-child {
    width: 150px;
}

.desc-cards {
    font-weight: 700;
    text-align: center;
}

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.product button {
    margin-bottom: 20px;
}

.lightbox-content #blueberry-info {
    color: purple;
}

.lightbox-content #strawberry-info {
    color: red;
}

.lightbox-content #apple-info {
    color: green;
}

.lightbox-content #peachy-burst-info {
    color: orange;
}

/* Quatro's History Section */

#quatro-history {
    height: 625px;

}

#quatro-history h3 {
    font-family: "Stopbuck", sans-serif;
    font-size: 37px;
    letter-spacing: 2px;
    color: #277C10;
    text-align: center;
}

#quatro-history p {
    font-weight: 600;
    font-size: 17px;
    line-height: 27px;
}

/* Quote Section */

#quote {
    background-image: url('../images/quote_bg_412.png');
    background-color: #F26200;
    background-size: cover;
    height: 437px;
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    color: white;
}

#quote h3 {
    font-weight: 800;
    font-size: 40px;
    text-transform: uppercase;
    line-height: 48px;
    margin-left: 15px;
    margin-top: 110px;
}

#quote p {
    font-weight: 700;
    font-size: 22px;
    margin-left: 15px;
    margin-top: -10px;
    margin-bottom: 500px;
}

/* Gallery Section */

#follow-us {
    height: 419px;
    text-align: center;
}

#follow-us-text {
    background-color: #CC173A;
    text-align: center;
    border-radius: 10px;
    width: 319px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
    margin-top: 20px;
}

#follow-us-text h2 {
    text-transform: uppercase;
    color: white;
    font-size: 24px;
}

#gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

/* CEO Message Section */

#ceo-message-con {
    height: 827px;
}

#ceo-message h3 {
    font-family: "Stopbuck", sans-serif;
    font-size: 37px;
    letter-spacing: 2px;
    color: #721AAE;
    text-align: center;
  }

#ceo-message p {
    font-weight: 700;
    line-height: 30px;
  }

#ceo-message h4 {
    font-weight: 800;
    font-size: 21px;
    color:#941ED6;
}

#president-text {
    color:#363636;
}

#video {
    position: relative; 
    width: 100%; 
    max-width: 560px; 
    height: 0; 
    padding-bottom: 56.25%; 
    overflow: hidden; 
}

#video iframe {
    position: absolute; 
    width: 100%; 
    height: 100%; 
    top: 0; 
    left: 0;
}

/* Customer Reviews Section */
#reviews-con {
    position: relative; 
    background-image: url('../images/review_bg_412.png');
    background-color: #CC173A;
    background-size: cover;
    height: 500px;
    overflow: hidden;
}

#reviews-title h2 {
    font-size: 32px;
    font-weight: 800;
    text-transform: uppercase;
    color: white;
    text-align: center;
    margin-bottom: -30px;
}

#reviews-title-con {
    height: 50px;
}

#reviews-title p {
    font-weight: 700;
    color: white;
    font-size: 18px;
    text-align: center;
    margin-top: 30px;
}

#reviews-wrapper {
    overflow: hidden;
}

#reviews {
    display: flex; 
    transition: transform 0.3s ease;
}

#reviews article {
    background-color: white;
    border-radius: 15px;
    width: 160px; 
    flex-shrink: 0;
    margin: 0 10px 0 10px;
    padding: 6px;
    padding-left: 20px;
}

#reviews article p {
    font-weight: 560;
    font-size: 12px;
    line-height: 21px;
    margin-top: 25px;
}

#reviews article img {
    width: 94px;
    height: 17px;
    margin-top: 10px;
}

#reviews article h3 {
    font-family: "Stopbuck", sans-serif;
    letter-spacing: 1px;
    font-size: 20px;
    margin-top: 5px;
}

#slider-buttons {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

#prev-btn,
#next-btn {
    background-color: #fff;
    color: #363636;;
    border: none;
    padding: 5px 10px;
    margin-bottom: 30px;
    margin-top: 30px;
    cursor: pointer;
    border-radius: 15px;
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    width: 75px;
}

/* #prev-btn:hover,
#next-btn:hover {
    background-color: #CC173A;
    color: #fff;
} */

/* Merch Section */

#merch-header {
    background-color: #F26200;
    text-align: center;
    border-radius: 10px;
    width: 317px;
    height: 49px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 30px;
}

.merch p, .merch-title {
    margin: 0;
    margin-left: 25px;
    font-size: 14px;
    font-weight: 800;
}

.merch p {
    width: 140px;
    padding-right: 50px;
}

.merch button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
}

#merch-con {
    height: 852px;
    text-align: center;
}

#merch-con h2 {
    color: white;
    text-transform: uppercase;
    font-size: 28px;
}

.merch img {
    width: 150px;
    margin: 10px 20px 0px 20px;
}

.merch-title {
    max-width: 110px;
    padding-left: 10px;
}

/* Available Stores Section */

#available-con {
    text-align: center;
    height: 354px;
  }

#available-title {
    font-family: "Stopbuck", sans-serif;
    font-size: 37px;
    letter-spacing: 2px;
    color: #721AAE;
}

#store_logos {
    width: 193px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
}

#store_logos img {
    margin-top: 20px;
}

/* Newsletter Section */

#newsletter-con {
    background-image: url('../images/news_bg_412.png');
    background-color: #0E9B22;
    background-size: cover;
    height: 437px;

    display: flex;
    justify-content: center;
}

#newsletter-con form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#newsletter-con h3 {
    font-weight: 800;
    font-size: 40px;
    text-transform: uppercase;
    line-height: 48px;
    margin-left: 15px;
    margin-top: 110px;
    color: white;
    max-width: 340px;
    margin-bottom: 25px;
}

#newsletter_box input {
    width: 320px;
    height: 35px;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: #363636;
    border-style: solid;
    border-width: 3px;
    border-color: #277C10;
    border-radius: 0;
}

#newsletter_box input::placeholder {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: #90B687;
    padding-left: 5px;
}

/* Footer Section */

#footer-con {
    background-color: #651799;
}

#logo-footer, #logo-socmed, #footer-menu, #footer-service {
    padding: 20px;
}

#logo-socmed img {
    width: 30px;
}

#logo-footer img {
    width: 230px;
    margin-top: 30px;
}

#footer-credits {
    text-align: center;
    color: #ffffff;
}

#footer-info {
    display: grid;
    justify-content: center;
    align-items: center;
}

#logo-footer,
#logo-socmed {
    justify-self: center;
}

#footer-nav,
#footer-service {
    display: flex;
    justify-content: center;
}

#footer-nav ul,
#footer-service ul {
    list-style: none;
    padding: 0;
    text-align: left;
    text-align: center;
}

#footer-nav li,
#footer-service li {
    margin-bottom: 10px; 
}

#footer-nav a,
#footer-service a {
    text-decoration: none;
    color: #ffffff;
}

/* PRODUCT PAGE */

.product-style{
    height: 400px;
    padding-top: 50px;

}


.info-button {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 120%;
    border-width: 0; /* Remove the border stroke */
    background-color: white; /* Set the background color to achieve solid color */
    border-radius: 40px;
    color: #363636;
    display: block;
    margin-top: 10px; /* Adjust this value as needed */
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    width: 150px;
}


#blueberry-image, #strawberry-image, #apple-image, #orange-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

#blueberry-info, #strawberry-info, #apple-info, #peachy-burst-info {
    text-align: center;
}


#blueberry-info > .product-page-name {
    width: 240px;
    margin-top: 10px;
}

#strawberry-info > .product-page-name {
    width: 240px;
    margin-top: 10px;
}

#apple-info > .product-page-name {
    width: 240px;
    margin-top: 10px;
}

#peachy-burst-info > .product-page-name {
    width: 240px;
    margin-top: 10px;
}

.quatro_logo_wcolor {
    width: 200px;
    margin-top: 30px;
}



#product-grape {
    background-color: rgb(114, 29, 195);
    height: 950px;
    display: block;
    justify-content: center;
}

#product-strawberry {
    background-color: #CC173A;
    height: 950px;
    display: block;
    justify-content: center;
}


#product-apple {
    background-color: #329B13;
    height: 950px;
    display: block;
    justify-content: center;
}

#product-orange {
    background-color:#F26200;
    height: 950px;
    display: block;
    justify-content: center;
}


/* CONTACT PAGE */

#logo-contact img {
    width: 300px;
}

#subtitle-contact {
    text-align: center;
}

#product-strawberry-apple img {
    width: 200px;
}

#product-grape-orange img {
    width: 200px;
}

#hero-banner-contact {
    background-color: rgb(106, 29, 179);
    height: 470px;
    display: flex;
    justify-content: center;
}

#contact-form-con {
    background-color: beige; /* Adjust background color as needed */
    /* height: 200px;  */
    display: flex;
    justify-content: center;
    text-align: center;
}

#contact-form-con input, textarea {
    padding: 22px;
    border: 2px solid #d6d6d6;
    background-color: #f7f7f7;
    border-radius: 5px;
    margin-bottom: 30px;
    font: inherit;
    width: 60%;
 }
 
#contact-form-con textarea {
    height: 250px;
 }
 
#contact-form-con input[type="submit"] {
    padding: 12px 28px;
    background: #721AAE;
    color: #fff;
    border: none;
    transition: all 200ms ease-in;
    width: 150px;
    align-self: flex-end;
 }
 
#contact-hero-form input[type="submit"]:hover {
    background-color: #A44CE1;
    border-radius: 0;
 }

.input-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input-group input {
    flex: 1;
    margin-right: 10px; /* Adjust spacing between inputs */
}



/* TABLET MEDIA QUERIES */

@media screen and (min-width: 768px) {
    body {
        max-width: 768px;
        margin: 0 auto;
    }

/* CUSTOMER REVIEW SECTION */

    #reviews article {
        background-color: white;
        border-radius: 15px;
        width: 200px; 
        flex-shrink: 0;
        /* height: 226px; */
        margin: 0 10px 0 10px; /* Reset margin */
        padding: 10px;
        text-align: center;
    }

/* HEADER MENU NAV */

    #logo img {
        width: 200px;
        padding-left: 10px;
    }

    #main-nav label img {
    display: none;
    }

    #burger-con {
        display:contents;
     }

     #main-nav {
        position: absolute;
        left: 270px;
        top: -10px;
        width: 450px;
     }

     #main-nav ul{
        background-color: #651799;
     }

     #main-nav ul li {
        display: inline;
     }

    #main-nav ul li {
        display: inline-block;
        margin: 0 15px;
    }

/* END MENU NAV */

/* FOOTER NAV */

    #footer-nav {
    display: block;
    margin-top: 40px;
    padding-top: 0;
    margin-bottom: 0;
    margin-left: 50px;
    column-count: 2;
    }

    #footer-info {
        display: block;
    }

    #footer-nav ul {
        width: 200px;
        padding-top: 0;
        margin-top: 0;
    }

    #footer-nav ul li a:hover {
        text-decoration: underline;
    }
    
    #logo-socmed {
        margin-left: 40px;   
    }

    #footer-info {
        display: block;
        margin-left: 40px;
    }
}


/* DESKTOP MEDIA QUERIES */

@media screen and (min-width: 1200px) {
    body {
        max-width: 1200px;
        margin: 0 auto; /* Center content */
    }

    #main-nav ul li a:hover {
        text-decoration: underline;
    }

    /* CUSTOMER REVIEW SECTION */

    #slider-buttons {
        display: none;
    }

    /* HEADER MENU NAV */

    #main-nav {
        position: absolute;
        left: 670px;
        top: -10px;
        width: 450px;
     }

    /* FOOTER NAV */

    #footer-info {
        display: block;
        margin-left: 60px;
    }

    #footer-nav {
        display: block;
        margin-top: 40px;
        padding-top: 0;
        margin-bottom: 0;
        margin-left: 300px;
        column-count: 2;
        }
    
    #footer-credits {
        margin-left: -180px;;
    }
}