
@charset "utf-8";
/* CSS Document */




.hidden {
    display: none;
}




.product-style{
    height: 680px;
    padding-top: 100px;
}




#logo img {
    width: 200px;
}




#nav-con {
    background-color: blueviolet;
    height: 144px;
}






#main-nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}
#main-nav ul li {
    margin: 0 10px;  
}




#main-nav ul li a{
    margin: 0 10px;  
    text-decoration: none;
    color: white;
    /* font-family: 'Poppins'; */
}


#hero-banner {
    background-color: rgb(106, 29, 179);
    height: 470px;
}


#features {
    height: 380px;
    background-color: beige;
    display: flex;
    justify-content: center;
    padding-top: 30px;
}


#about-quatro {
    height: 450px;
    background-color: rgb(234, 234, 204);
}




#product-title {
    background-color: green;
    height: 235px;
    display: flex;
    justify-content: center;
    text-align: center;
}


#products {
    height: 380px;
    background-color: beige;
    display: flex;
    justify-content: center;
    padding-top: 30px;
}


#quatro-history {
    height: 450px;
    background-color: rgb(234, 234, 204);
}


#quote {
    background-color: rgb(255, 123, 0);
    height: 335px;
    display: flex;
    justify-content: center;
    text-align: center;
}


#follow-us-button {
    background-color: red;
    text-align: center;
    border-radius: 15px;
}


#follow-us {
    background-color: rgb(234, 234, 204);
}


#merch-con {
    background-color: beige;
}


#merch-button {
    background-color: rgb(255, 123, 0);
    text-align: center;
    border-radius: 15px;
}


#gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }


#gallery img {
    height: 300px;
    background-color: blueviolet;
    padding: 50px 0 50px 0;
    margin: 10px 10px 10px 10px;
}


#merch-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }


#merch-gallery img {
    height: 300px;
    background-color: blueviolet;
    padding: 50px 0 50px 0;
    margin: 10px 10px 10px 10px;
}


#ceo-message {
    text-align: center;
  }


#ceo-message-con {
    background-color: beige;
}
 
#ceo-message div {
    margin-bottom: 20px; /* Add spacing between the text and video */
  }


#available-con {
    text-align: center;
  }


#available-con {
    background-color: beige;
}
 


 
  #video {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: purple;
    height: 300px;
  }


#reviews-con {
    background-color: red;
    text-align: center; /* Align center */
}


#reviews-wrapper {
    overflow-x: auto; /* Allow horizontal scrolling */
    white-space: nowrap; /* Prevent wrapping */
}


#reviews {
    display: flex;
    justify-content: center; /* Center the items horizontally */
   
}


#reviews > div {
   
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    width: 220px;
    text-align: center; /* Align content center */
}




#newsletter-con {
    background-color: green; /* Adjust background color as needed */
    height: 200px; /* Adjust height as needed */
    display: flex;
    justify-content: center;
    text-align: center;
}


#newsletter-con form {
    display: flex;
    flex-direction: column;
    align-items: center;
}


#footer-con {
    background-color: purple;
}


#logo-footer, #logo-socmed, #footer-menu, #footer-service {
    padding: 20px;
}


#logo-footer, #logo-socmed {
    background-color: beige;
}


#footer-menu, #footer-service {
    background-color: lightblue;
}


#credits {
    text-align: center;
}








/* PRODUCT PAGE */


#product-grape {
    background-color: rgb(114, 29, 195);
    height: 950px;
    display: flex;
}


#product-strawberry {
    background-color: #CC173A;
    height: 950px;
    display: flex;
}


#product-apple {
    background-color: #329B13;
    height: 950px;
    display: flex;
}


#product-orange {
    background-color:#F26200;
    height: 950px;
    display: flex;
}












/* JAVASCRIPT LIGHTBOX TEST */




#blueberry, #peachy, #apple, #scarlet {
    position: relative;
    margin-left: 50px;
}






.info-icon{
    position: absolute;
    top: -5px;
    right: -70px;
    height: 35px;
    cursor: pointer;
}




.lightbox.active {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}




.lightbox.active .lightbox-content {
    background-color: white; /* Adjust as needed */
    padding: 20px;
    border-radius: 10px;
    color: rgb(0, 0, 0);
    width: 500px;
    height: 200px;
    text-align: center;
}




.lightbox.active .lightbox-close {
    position: absolute;
    top: 200px;
    right: 280px;
    /* top: 250px;
    right: 580px;  */
    /* Adjust the right value to move the close button closer to the lightbox text */
    color: white;
    font-size: 3em;
    cursor: pointer;
}
.lightbox.active h2, .lightbox.active p {
    text-align: center;
}








.open-reward {
    z-index: 90000;
    position: fixed;
    filter: drop-shadow(rgba(0, 0, 0, 0.15) 0px 0px 30px);
    /* right: 0; */
    bottom: 0;
    left: 0px;
    margin: 0px 20px;
    width: 154px;
    cursor: pointer;
    font-size: 20px;
    background-color: orange;
}









